{% extends "auth/base.html" %}
{% block auth_content %}
    <div class="row form-content valign-wrapper">
        <div class="center-align" style="width: 100%">
            <div id="login-page" class="row" style="width:400px; padding-top: 20px">
                <div class="col s12 z-depth-6 card-panel">
                    <form class="login-form" action="{{ url_for('auth.signin') }}" method=post>
                        {{ form.hidden_tag() }}

                        <div class="row">
                            <div class="input-field col s12 center">
                                <p class="center login-form-text">Virtual Station - Signin</p>
                            </div>
                        </div>

                        <div class="row margin" style="margin: 0px !important">
                            <div class="input-field col s12">
                                <i class="mdi-social-person-outline prefix"></i> {{ form.email( class_="validate", **{'aria-describedby':"emailHelpText"} ) }}
                                <label for="email" data-error="" data-success="" class="left-align">Email</label>
                                {% for message in form.email.errors %}
                                <div class="left-align, error" id="emailHelpText">{{ message }}</div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="row margin" style="margin: 0px !important">
                            <div class="input-field col s12">
                                <i class="mdi-action-lock-outline prefix"></i> {{ form.password( class_="validate", **{'aria-describedby':"passwordHelpText"} ) }}
                                <label class="left-align" for="password"></label>
                                {% for message in form.password.errors %}
                                <div class="left-align, error" id="passwordHelpText">{{ message }}</div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="row" style="padding: 10px !important">
                            <div class="left-align input-field col s12 m12 l12  login-text">
                                {{ form.remember_me }}
                                <label class="left-align" for="remember_me">Remember me</label>
                            </div>
                        </div>

                        {{ form.submit(class_="btn waves-effect waves-light col s12") }}

                        <div class="row" style="margin: 0px !important">
                            <div class="input-field col s12 m12 l12">
                                <p class="margin medium-small">Dont have an Account? <a href="{{ url_for('auth.signup') }}">Create Account</a></p>
                            </div>
                        </div>

                        <div class="row" style="padding: 10px !important">
                            <div class="input-field col s6 m6 l6">

                            </div>
                            <div class="input-field col s12 m12 l12">
                                <p>Username: 'admin@vs.com': password = 'admin'</p>
                                <!--<p class="margin right-align medium-small"><a href="forgot-password.html">Forgot password?</a></p>-->
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}