<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../../static/plugins/materialize/css/materialize.min.css" media="screen,projection" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

    <div class="row" style="margin:0">

        <ul id="dropdown1" class="dropdown-content">
            <li style="width: 200px !important;"><a href="../../templates/dashboard/new-case.html">Open New Case</a></li>
            <li><a href="../../templates/dashboard/list-cases.html">List Open Cases</a></li>
            <li class="divider"></li>
            <li><a href="#!">Search Cases</a></li>
        </ul>

        <nav class="brown darken-2 z-depth-1" style="position: relative !important; z-index:10000 !important">
            <div class="nav-wrapper" style="padding-left:30px">
                <a id="logo-container" href="#" class="brand-logo">Virtual Station</a>
                <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
                <ul class="right hide-on-med-and-down">
                    {% if current_user.is_authenticated %}
                    <li style="width: 200px !important;"><a class="dropdown-button" href="" data-activates="dropdown1">Occurrence Book<i class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a href="{{ url_for('auth.signout') }}">Sign Out</a></li>
                    {% else %}
                    <li><a href="{{ url_for('auth.signin') }}">Sign In</a></li>
                    {% endif %}

                </ul>
                <ul id="slide-out" class="side-nav fixed" style="width: 280px; color: #fff !important; margin-top: 0px !important">
                    <li class="profile-bg" style="">
                        <div class="userView">
                            <img class="background" src="images/office.jpg">
                            <a href="#!user"><img class="circle" src="{{ url_for('static', filename='images/administrator.jpg') }}"></a>
                            <a href="#!name"><span class="white-text name">John Doe</span></a>
                            <a href="#!email"><span class="white-text email">johndoe@gmail.com</span></a>
                        </div>
                    </li>
                    <li class="divider" style="margin:0"></li>
                    <li class="bold active"><a href="{{ url_for('dashboard.index') }}" class="waves-effect waves-teal" style="">Dashboard</a></li>
                    <li class="divider" style="margin:0"></li>
                    <li class="bold"><a href="{{ url_for('dashboard.newcase') }}">Open New Case</a></li>
                    <li class="divider" style="margin:0"></li>
                    <li class=""><a href="{{ url_for('dashboard.list_cases') }}">List Open Cases</a></li>
                    <li class="divider" style="margin:0"></li>
                    <li class=""><a href="{{ url_for('dashboard.notes') }} ">Notes</a></li>
                    <li class="divider" style="margin:0"></li>
                    <li class=""><a href=" {{ url_for('dashboard.administrator') }} ">Administrator</a></li>
                    <li class="divider" style="margin:0"></li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="row" style="margin: 0px; margin-left: 280px; padding: 10px">
        <div class="row" style="margin:0">
            <div class="col l5 m5 s12">
                <div class="card">
                    <div class="card-content" style="min-height: 430px; padding:0">
                        <div style="padding: 10px; font-size: 30px" class="teal white-text">Case Types</div>

                        <ul id="task-card" class="collection with-header" style="margin:0; border-left:none; border-right:none; border-radius: 0px">

                            {% for k, v in complaints.iteritems() %}
                            <li class="collection-item dismissable" style="padding: 20px !important">
                                <label>{{ k }}. <a href="#" class="secondary-content"><span class="ultra-small">{{ v }}</span></a>
                                </label>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>

                    <div class="card-reveal" style="padding: 0">
                        <div style="padding: 15px; font-size: 30px" class="teal white-text">
                            <span class="card-title white-text text-darken-4">Add Case Type<i class="white-text material-icons right">close</i></span>
                        </div>

                        <div class="row">
                            <form class="col s12" action="" method="POST">
                                {{ types_form.hidden_tag() }}

                                <div>
                                    <div class="row" style="margin:0">
                                        <div class="input-field col s12">

                                            {{ types_form.cartegory_name( class_="validate", **{'aria-describedby':"cartegory_nameHelpText"} ) }}
                                            <label for="cartegory_name">Cartegory</label>
                                            {% for message in types_form.cartegory_name.errors %}
                                            <div class="center-align, error" id="cartegory_nameHelpText">{{ message }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col s12 right-align" style="padding: 0px;">

                                            <div class="divider"></div>
                                            <div style="padding: 10px;">
                                                {{ types_form.submit(class_="waves-effect waves-light btn") }}
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="card-action" style="padding:20px; padding-bottom:5px">
                        <span class="card-title activator" style="padding:1px !important"><i class="material-icons right">add</i></span>
                    </div>
                </div>
            </div>

            <div class="col l7 m7 s12">
                <div class="card">
                    <div class="card-content" style="min-height: 430px; padding:0">
                        <div style="padding: 10px; font-size: 30px" class="teal white-text">System Users</div>

                        <div class="row">
                            <div class="col s12 m12 l12">
                                <div class="row" style="margin:0">
                                    <div class="input-field col s6"></div>
                                    <div class="input-field col s6">
                                        <input name="search_input" id="search_input" type="text" class="validate">
                                        <label for="search_input">Ref Number</label>
                                    </div>
                                </div>

                                <div class="row" style="margin:0">
                                    <div class="input-field col s6"></div>
                                    <div class="input-field col s6">
                                        <input name="search_name" id="search_name" type="text" class="validate">
                                        <!--<label for="search_name">Opened On</label>-->
                                    </div>
                                </div>
                            </div>
                            <div class="col s12 m12 l12">
                                <table class="bordered" style="border: 1px solid #ddd">
                                    <thead class="teal white-text">
                                        <tr>
                                            <th data-field="id" style="border-radius: 0 !important">ID</th>
                                            <th data-field="id_number" style="border-radius: 0 !important">ID Number</th>
                                            <th data-field="names" style="border-radius: 0 !important">Full Name</th>
                                            <th data-field="reported_date" style="border-radius: 0 !important">Date Reported</th>
                                            <th data-field="complaint type" style="border-radius: 0 !important">Complaint Type</th>
                                            <th data-field="tbl_actions" style="border-radius: 0 !important">Actions</th>
                                        </tr>
                                    </thead>

                                    <tbody id="tbl_body">
                                        <div>
                                            <ul id="table_actions" class="dropdown-content" style="width: auto !important;">
                                                <li style="width: auto !important;"><a href="{{ url_for('dashboard.notes') }}">Add Notes</a></li>
                                                <li class="divider"></li>
                                                <li><a class="modal-trigger use-address" href="#modal1">Close Case</a></li>
                                                <li class="divider"></li>
                                            </ul>
                                        </div>

                                        {% for case in search_results %}
                                        <tr>
                                            <td class="id">{{ case.id }}</td>
                                            <td class="">{{ case.id_number }}</td>
                                            <td class="full_name">{{ case.full_name }}</td>
                                            <td class="reported_date">{{ case.reported_date }}</td>
                                            <td>{{ case.complaint_type }}</td>
                                            <td style="width: 180px">
                                                <div>
                                                    <a class="dropdown-button" href="" data-activates="table_actions" style="width: 180px !important;">More Options&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                        <i class="material-icons right">arrow_drop_down</i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                    <div class="card-reveal" style="padding: 0">
                        <div style="padding: 15px; font-size: 30px" class="teal white-text">
                            <span class="card-title white-text text-darken-4">Create Account<i class="white-text material-icons right">close</i></span>
                        </div>

                        <div class="row">
                            <form class="col s12" action="" method="POST">
                                {{ account_form.hidden_tag() }}

                                <div>
                                    <div class="row" style="margin:0">
                                        <div class="input-field col s6">
                                            {{ account_form.first_name( class_="validate", **{'aria-describedby':"firstNameHelpText"} ) }}
                                            <label for="first_name">First Name</label>
                                            {% for message in account_form.first_name.errors %}
                                            <div class="center-align, error" id="firstNameHelpText">{{ message }}</div>
                                            {% endfor %}
                                        </div>
                                        <div class="input-field col s6">
                                            {{ account_form.other_names( class_="validate", **{'aria-describedby':"otherNamesHelpText"} ) }}
                                            <label for="other_names">Other Names</label>
                                            {% for message in account_form.other_names.errors %}
                                            <div class="center-align, error" id="otherNamesHelpText">{{ message }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="row" style="margin:0">
                                        <div class="input-field col s12">
                                            {{ account_form.email( class_="validate", **{'aria-describedby':"emailHelpText"} ) }}
                                            <label for="first_name">Email</label>
                                            {% for message in account_form.email.errors %}
                                            <div class="center-align, error" id="emailHelpText">{{ message }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="row" style="margin:0">
                                        <div class="input-field col s12">
                                            <select name="account_type">
                                                <option value="" disabled selected>Account Type</option>
                                                <option value="User">User</option>
                                                <option value="Privileged">Privileged</option>
                                                <option value="Administrator">Administrator</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col s12 right-align" style="padding: 0px;">
                                            <div class="divider"></div>
                                            <div style="padding: 10px;">
                                                {{ account_form.submit(class_="waves-effect waves-light btn") }}
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="card-action" style="padding:20px; padding-bottom:5px">
                        <span class="card-title activator" style="padding:1px !important"><i class="material-icons right">add</i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../../static/plugins/materialize/js/materialize.min.js"></script>
    <script type="text/javascript" src="../../static/js/app.js"></script>
</body>

</html>
