{% extends "auth/base.html" %}
{% block dashboard_content %}
    <div class="row" style="margin: 0px; margin-left: 280px; padding: 10px">
        <div class="row" style="margin:0">
            <div class="col l4 m4 s12">
                <div class="card">
                    <div class="card-content" style="height: 430px; padding:0">
                        <ul id="task-card" class="collection with-header">
                            <li class="collection-header teal">
                                <h4 class="task-card-title white-text">Recent Updates</h4>
                                <p class="task-card-date white-text">{{ current_date }}<!--October 17, 2016--></p>
                            </li>

                            {% for k, v in complaints.iteritems() %}
                                <li class="collection-item dismissable" style="padding: 20px !important">
                                    <label>{{ k }}. <a href="#" class="secondary-content"><span class="ultra-small">{{ v }}</span></a>
                                </label>
                                </li>
                            {% endfor %}

                        </ul>
                    </div>

                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Summary Chart<i class="material-icons right">close</i></span>
                        <div class="row">
                            <canvas id="mycanvas1"></canvas>
                        </div>
                    </div>

                    <div class="card-action" style="padding:20px; padding-bottom:5px">
                        <!--<span class="card-title activator" style="padding:1px !important"><a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a></span>-->
                        <span class="card-title activator" style="padding:1px !important"><i class="material-icons right">more_vert</i></span>
                    </div>
                </div>
            </div>

            <div class="col l8 m8 s12">
                <div class="row" style="margin: 0">
                    <div class="card">
                        <div class="card-content" style="height: auto">

                            <div class="chartdata">
                                <canvas id="myChart" width="400" height="150"></canvas>
                            </div>

                        </div>
                        <div class="card-action">

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row" style="margin:0">
            <div class="col s12 m6 l6">
                <div class="card">
                    <div class="card-content" style="padding: 0">
                        <div class="row" style="padding: 0; margin: 0">
                            <div class="col s12 m6 l6 green lighten-1 white-text center-align" style="padding: 20px">
                                <p class="card-stats-title"><i class="mdi-social-group-add"></i> New Reported Cases</p>
                                <h4 class="card-stats-number">{{ reported_cases["current_month"] }}</h4>
                                <p class="card-stats-compare"><i class="mdi-hardware-keyboard-arrow-up"></i> {{ reported_cases["change"] }}% <span class="green-text text-lighten-5">from last month</span>
                                </p>
                            </div>
                            <div class="col s12 m6 l6 center-align">
                                <canvas id="newCasesPie" width="250" height="125"></canvas>
                            </div>
                        </div>

                    </div>

                    <!--<div class="card-action green darken-2">
                        <a href="#">This is a link</a>
                    </div>-->
                </div>
            </div>

            <div class="col s12 m6 l6">
                <div class="card">
                    <div class="card-content" style="padding: 0">
                        <div class="row" style="padding: 0; margin: 0">
                            <div class="col s12 m6 l6 pink lighten-1 white-text center-align" style="padding: 20px">
                                <p class="card-stats-title"><i class="mdi-editor-insert-drive-file"></i> Closed Cases</p>
                                <h4 class="card-stats-number">{{ closed_cases["current_month"] }}</h4>
                                <p class="card-stats-compare"><i class="mdi-hardware-keyboard-arrow-down"></i> {{ closed_cases["change"] }}% <span class="deep-purple-text text-lighten-5">from last month</span>
                                </p>
                            </div>
                            <div class="col s12 m6 l6">
                                <canvas id="closedCasesPie" width="250" height="125"></canvas>

                            </div>
                        </div>

                    </div>
                    <!--<div class="card-action pink darken-2">
                        <a href="#">This is a link</a>
                    </div>-->
                </div>
            </div>

        </div>

        <div class="row" style="margin:0">
            <div class="col l6 m6 s12">

            </div>
            <div class="col l6 m6 s12">

            </div>
        </div>
    </div>
{% endblock %}
