<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../../static/plugins/materialize/css/materialize.min.css" media="screen,projection" />

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../../static/css/app.css">
</head>

<body>
    <div class="row" style="margin:0">

        <ul id="dropdown1" class="dropdown-content">
            <li style="width: 200px !important;"><a href="../../templates/dashboard/new-case.html">Open New Case</a></li>
            <li><a href="../../templates/dashboard/list-cases.html">List Open Cases</a></li>
            <li class="divider"></li>
            <li><a href="#!">Search Cases</a></li>
        </ul>

        <nav class="brown darken-4 z-depth-1" style="position: relative !important; z-index:10000 !important">
            <div class="nav-wrapper" style="padding-left:30px">
                <a id="logo-container" href="#" class="brand-logo">Virtual Station</a>
                <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li style="width: 200px !important;"><a class="dropdown-button" href="#!" data-activates="dropdown1">Occurrence Book<i class="material-icons right">arrow_drop_down</i></a></li>
                </ul>
                <ul id="slide-out" class="side-nav fixed" style="width: 280px; color: #fff !important; margin-top: 0px !important">
                    <li class="profile-bg" style="">
                        <div class="userView">
                            <img class="background" src="images/office.jpg">
                            <a href="#!user"><img class="circle" src="images/yuna.jpg"></a>
                            <a href="#!name"><span class="white-text name">John Doe</span></a>
                            <a href="#!email"><span class="white-text email">johndoe@gmail.com</span></a>
                        </div>
                    </li>

                    <li class="bold"><a href="../../templates/dashboard/dashboard.html" class="waves-effect waves-teal" style="">Dashboard</a></li>
                    <li class="bold"><a href="../../templates/dashboard/new-case.html">Open New Case</a></li>
                    <li><a href="../../templates/dashboard/list-cases.html">List Open Cases</a></li>
                    <li class="active"><a href="../../templates/dashboard/notes.html">Notes</a></li>
                </ul>
            </div>
        </nav>

    </div>

    <div class="row" style="margin: 0px; margin-left: 280px; padding: 10px">
        <div class="row" style="margin:0">
            <div class="col l4 m4 s12">
                <div class="card">
                    <div class="card-content" style="height: 430px; padding:0">
                        <ul id="task-card" class="collection with-header">
                            <li class="collection-header teal">
                                <h4 class="task-card-title white-text">Recent Updates</h4>
                                <p class="task-card-date white-text">October 17, 2016</p>
                            </li>
                            <li class="collection-item dismissable" style="padding: 20px !important">
                                <label for="task1">Create Mobile App UI. <a href="#" class="secondary-content"><span class="ultra-small">Today</span></a>
                                </label>
                            </li>
                            <li class="collection-item dismissable" style="padding: 20px !important">
                                <label for="task2">Check the new API standerds. <a href="#" class="secondary-content"><span class="ultra-small">Monday</span></a>
                                </label>
                            </li>
                            <li class="collection-item dismissable" style="padding: 20px !important">
                                <label for="task3">Check the new Mockup of ABC. <a href="#" class="secondary-content"><span class="ultra-small">Wednesday</span></a>
                                </label>
                            </li>
                            <li class="collection-item dismissable" style="padding: 20px !important">
                                <label for="task3">Check the new Mockup of ABC. <a href="#" class="secondary-content"><span class="ultra-small">Wednesday</span></a>
                                </label>
                            </li>
                            <li class="collection-item dismissable" style="padding: 20px !important">
                                <label for="task3">Check the new Mockup of ABC. <a href="#" class="secondary-content"><span class="ultra-small">Wednesday</span></a>
                                </label>
                            </li>
                        </ul>
                    </div>

                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                        <div class="row">
                            <form class="col s12">
                                <div class="row">
                                    <div class="input-field col s6">
                                        <input placeholder="Placeholder" id="first_name" type="text" class="validate">
                                        <label for="first_name">First Name</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input id="last_name" type="text" class="validate">
                                        <label for="last_name">Last Name</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input disabled value="I am not editable" id="disabled" type="text" class="validate">
                                        <label for="disabled">Disabled</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="password" type="password" class="validate">
                                        <label for="password">Password</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="email" type="email" class="validate">
                                        <label for="email">Email</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="card-action" style="padding:20px; padding-bottom:5px">
                        <span class="card-title activator" style="padding:1px !important"><i class="material-icons right">more_vert</i></span>
                    </div>
                </div>
            </div>

            <div class="col l8 m8 s12">
                <div class="row" style="margin: 0">
                    <div class="card">
                        <div class="card-content" style="height: auto">

                            <div class="chartdata">
                                <canvas id="myChart" width="400" height="150"></canvas>
                            </div>

                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row" style="margin:0">
            <div class="col s12 m6 l6">
                <div class="card">
                    <div class="card-content" style="padding: 0">
                        <div class="row" style="padding: 0; margin: 0">
                            <div class="col s12 m6 l6 green lighten-1 white-text center-align" style="padding: 20px">
                                <p class="card-stats-title"><i class="mdi-social-group-add"></i> New Reported Cases</p>
                                <h4 class="card-stats-number">56</h4>
                                <p class="card-stats-compare"><i class="mdi-hardware-keyboard-arrow-up"></i> 15% <span class="green-text text-lighten-5">from last month</span>
                                </p>
                            </div>
                            <div class="col s12 m6 l6 center-align">
                                <canvas id="newCasesPie" width="250" height="125"></canvas>
                            </div>
                        </div>

                    </div>




                    <!--<div class="card-action green darken-2">
                        <a href="#">This is a link</a>
                    </div>-->
                </div>
            </div>

            <div class="col s12 m6 l6">
                <div class="card">
                    <div class="card-content" style="padding: 0">
                        <div class="row" style="padding: 0; margin: 0">
                            <div class="col s12 m6 l6 pink lighten-1 white-text center-align" style="padding: 20px">
                                <p class="card-stats-title"><i class="mdi-editor-insert-drive-file"></i> Closed Cases</p>
                                <h4 class="card-stats-number">18</h4>
                                <p class="card-stats-compare"><i class="mdi-hardware-keyboard-arrow-down"></i> 3% <span class="deep-purple-text text-lighten-5">from last month</span>
                                </p>
                            </div>
                            <div class="col s12 m6 l6">
                                <canvas id="closedCasesPie" width="250" height="125"></canvas>

                            </div>
                        </div>

                    </div>
                    <!--<div class="card-action pink darken-2">
                        <a href="#">This is a link</a>
                    </div>-->
                </div>
            </div>

        </div>

        <div class="row" style="margin:0">
            <div class="col l6 m6 s12">

            </div>
            <div class="col l6 m6 s12">

            </div>
        </div>
    </div>

    <!--Import jQuery before materialize.js-->
    <!--<script type="text/javascript" src="../../static/plugins/jquery/jquery-2.1.1.min.js"></script>-->

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <script type="text/javascript" src="../../static/plugins/materialize/js/materialize.min.js"></script>

    <script type="text/javascript" src="../../static/plugins/chartjs/chart.min.js"></script>

    <script type="text/javascript" src="../../static/js/app.js"></script>
</body>

</html>
