{% extends "dashboard/base.html" %}
{% block dashboard_content %}
    <div class="row" style="margin: 0px; margin-left: 280px; padding: 10px">
        <div class="row" style="margin:0">
            <div class="col l12 m12 s12">
                <div class="card">
                    <div class="card-content" style="min-height: 430px; padding:0">
                        <div style="padding: 10px; font-size: 30px" class="teal white-text">Case Notes</div>

                        <div>
                            <form class="col s12" action="" method="POST">

                                <div>
                                    <div class="row" style="margin:0">
                                        <div class="input-field col s6"></div>
                                        <div class="input-field col s6">
                                            <input name="search_input" id="search_input" type="text" class="validate">
                                            <label for="search_input">Ref Number</label>
                                        </div>
                                    </div>

                                    <div class="row" style="margin:0">
                                        <div class="input-field col s6"></div>
                                        <div class="input-field col s6">
                                            <input name="search_name" id="search_name" type="text" class="validate">
                                            <!--<label for="search_name">Opened On</label>-->
                                        </div>
                                    </div>

                                </div>
                            </form>

                        </div>
                        <div id="result">

                        </div>


                    </div>

                    <div class="card-reveal" style="padding: 0">
                        <div style="padding: 15px; font-size: 30px" class="teal white-text">
                            <span class="card-title white-text text-darken-4">Add Notes<i class="white-text material-icons right">close</i></span>
                        </div>

                        <div class="row">
                            <form class="col s12" action="" method="POST">
                                {{ form.hidden_tag() }}

                                <div>
                                    <div class="row" style="margin:0">
                                        <div class="input-field col s6"></div>
                                        <div class="input-field col s6">
                                            <!--<input name="id_number" id="id_number" type="text" class="validate">
                                            <label for="id_number">Ref Number</label>-->

                                            {{ form.add_search_id( class_="validate", **{'aria-describedby':"add_search_idHelpText"} ) }}
                                            <label for="add_search_id">Ref Number</label>
                                            {% for message in form.add_search_id.errors %}
                                                <div class="center-align, error" id="add_search_idHelpText">{{ message }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="row" style="margin:0">
                                        <div class="input-field col s6"></div>
                                        <div class="input-field col s6">
                                            <input name="add_full_name" id="add_full_name" type="text" class="validate">
                                            <!--<label for="add_full_name">Opened On</label>-->
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="input-field col s12 l12 m12">
                                            <!--<textarea class="notes"></textarea>-->

                                            {{ form.add_notes( class_="validate notes", **{'aria-describedby':"add_notesHelpText"} ) }}
                                            {% for message in form.add_notes.errors %}
                                                <div class="center-align, error" id="add_notesHelpText">{{ message }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col s12 right-align" style="padding: 0px;">

                                            <div class="divider"></div>
                                            <div style="padding: 10px;">
                                                <a class="waves-effect waves-light btn-large">Cancel</a>
                                                <!--<a class="waves-effect waves-light btn-large">Save Details</a>-->
                                                {{ form.submit(class_="waves-effect waves-light btn-large") }}
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="card-action" style="padding:20px; padding-bottom:5px">
                        <span class="card-title activator" style="padding:1px !important"><i class="material-icons right">add</i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
