{% for case in search_results %}
    <tr>
        <td>{{ case.id }}</td>
        <td>{{ case.id_number }}</td>
        <td>{{ case.full_name }}</td>
        <td>{{ case.reported_date }}</td>
        <td>{{ case.complaint_type }}</td>
        <td style="width: 180px">
            <div>
                <a class="dropdown-button" href="" data-activates="table_actions" style="width: 180px !important;" >More Options&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="material-icons right">arrow_drop_down</i>
                </a>
            </div>
        </td>
    </tr>
{% endfor %}
