.header {
    height: 100vh;
    position: relative;
    background: url(../images/dawn-190055.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header-container {
    height: 100%;
    background: rgba(0, 0, 0, 0.0);
}

.header-container nav {
    /*background-color: #00695c;
    background: rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);*/
}

.header1 {
    height: 100vh;
    position: relative;
    background: url(../images/dawn-190055.jpg);
    background: #eee;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.white-text p {
    margin: 0 !important;
    padding: 0 !important;
}

.header,
main,
footer {
    padding-left: 240px !important;
}

nav .container {
    padding-left: 2000px !important;
    margin: 0 !important;
}

.collection-item {
    padding: 100px !important;
}

.collection-item {
    padding: 20px !important
}

.profile-bg {
    background: url(../images/profile-bg.png);
    background-position: center;
}
