<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Virtual Station</title>
    <!-- CORE CSS-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="../../static/plugins/materialize/css/materialize.min.css">

    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

    <link rel="stylesheet" href="../static/css/app.css">

</head>

<body class="">
    <div class="row header" style="margin: 0px !important; padding: 0px !impotant">
        <div class="header-container">
            <div class="row">
                <ul id="dropdown1" class="dropdown-content">
                    <li style="width: 200px !important;"><a href="../../templates/dashboard/new-case.html">Open New Case</a></li>
                    <li><a href="../../templates/dashboard/list-cases.html">List Open Cases</a></li>
                    <li class="divider"></li>
                    <li><a href="#!">Search Cases</a></li>
                </ul>

                <nav class="z-depth-0 white-text" style="position: relative !important; z-index:10000 !important; background: transparent !important;">
                    <div class="nav-wrapper" style="padding-left:30px; padding-right:30px">
                        <a id="logo-container" href="#" class="brand-logo">Virtual Station</a>
                        <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
                        <ul class="right hide-on-med-and-down">
                            {% if current_user.is_authenticated %}
                                {% if current_user.role_id == 1 %}
                                    <li><a href="{{ url_for('home.my_cases') }}">My Cases</a></li>
                                {% else %}
                                    <li><a href="{{ url_for('dashboard.index') }}">Dashboard</a></li>
                                {% endif %}
                                <li><a href="{{ url_for('auth.signout') }}">Sign Out</a></li>
                            {% else %}
                                <li><a href="{{ url_for('auth.signin') }}">Sign In</a></li>
                                <li><a href="{{ url_for('auth.signup') }}">Sign Up</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </div>

            <div class="row caption-text white-text valign-wrapper">
                <div class="center-align" style="width: 100%">
                    <h1 class="valign">Justice delayed is justice denied</h1>
                    <h3 class="valign">Get updated on the status of your cases</h3>
                </div>
            </div>
        </div>

    </div>


    <!-- ================================================
    Scripts
    ================================================= -->

    <!-- jQuery Library -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!--materialize js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>

    <script src="../../static/plugins/materialize/js/materialize.min.js"></script>

</body>

</html>
