<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Virtual Station</title>
    <!-- CORE CSS-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">

    <link rel="stylesheet" href="../static/css/app.css">

    <style type="text/css">
        html,
        body {
            height: 100%;
            overflow: hidden
        }
        
        html {
            display: table;
            margin: auto;
        }
        
        body {
            width: 100vw;
        }
        
        .margin {
            margin: 0 !important;
        }
        
        .row {
            width: 100%
        }
        
        .header-nav {
            position: absolute;
        }
    </style>

</head>

<body class="white">
    <div class="row">

        <div class="header">
            <div class="header-container">
                <div class="row">
                    <nav class="">
                        <div class="nav-wrapper">
                            <a href="#" class="brand-logo" style="padding-left: 20px">Virtual Station</a>

                            <ul id="nav-mobile" class="right hide-on-med-and-down">
                                {% if current_user.is_authenticated %}
                                    <li><a href="{{ url_for('auth.signout') }}">Sign Out</a></li>
                                {% else %}
                                    <li><a href="{{ url_for('auth.signin') }}">Sign In</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </nav>
                </div>

                <div class="row">
                    <h1>Hello, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Stranger{% endif %}!</h1>
                </div>
            </div>

        </div>
    </div>

    <!-- ================================================
    Scripts
    ================================================= -->

    <!-- jQuery Library -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!--materialize js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>

</body>

</html>